<!DOCTYPE html>
    <%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header', {pagina: 'Página Sobre'}); %>

        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Oi, meu nome é Ádryan Pablo</p>
            </div>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>